{{#each pets as |pet|}}
<h1>Pet name is: {{pet.name}}</h1>
<h1>Pet ID is: {{pet.id}}</h1>
<button data-id="{{pet.id}}" class='btn btn-primary pet-show__btn'>Go to my {{pet.name}}'s page</button>
{{else}}
<h1>Add a pet to get started!</h1>
{{/each}}