<div class="app__container">
  {{> BackButton}}
  <div class="pet-show-card__container">
    <div class='pet-show-card__header'>
      <h1>{{limit pet.name 25}}</h1>
      <i class='show-update__btn' data-eva="edit-2-outline"></i>
      <button data-id="{{pet.id}}" class="btn btn-outline-danger pet-delete__btn">Delete this pet</button>
    </div>
    <form class="hidden" data-id="{{pet.id}}" action="" id="update-pet-name">
      <label for="update-name">Enter new name</label>
      <input name="pet[name]" id="update-name" type="text" placeholder="Enter new name" required />
      <button class="btn-custom btn-custom__outline">Update name</button>
      <button class='btn-custom btn-custom__link hide-update__btn'>Cancel</button>
    </form>
    {{#if pet.weightlogs}}
    {{> WeightChart}}
    {{else}}
    {{> PetShowEmpty}}
    {{/if}}
    <h2>Weight</h2>
    <form data-id="{{pet.id}}" action="" id="weight-create">
      <input class='form-control weight-add-input' type="number" min="0.01" step=".01" name="weightlog[amount]"
        placeholder="weight" required />
      <input class='form-control date-add-input' type="date" name="weightlog[date]" required />
      <button class="btn-custom btn-custom__primary" type="submit">Add weight</button>
    </form>
    <div class="weight__container">
      <div data-pet='{{pet.id}}' class="weight__list">
        {{#each pet.weightlogs as |weightlog|}}
        <div data-id="{{weightlog.id}}" class='weight-row'>
          <div>
            {{weightlog.weight}}lbs {{weightlog.date}}
          </div>
          <i class='show-edit__btn' data-eva="edit-2-outline"></i>
          <i class='weight-delete__btn' data-eva-fill='#dc3545' data-eva="trash-2-outline"></i>
        </div>
        <form class='hidden update-pet-weight' data-update="{{weightlog.id}}" data-id="{{weightlog.id}}" action="">
          <input class='weight-edit-input' name="weightlog[amount]" type="number" step="0.01" value={{weightlog.weight}}
            required />
          <input class='date-edit-input' type="date" name="weightlog[date]" value={{weightlog.date}} required />
          <button type='submit' class="btn-custom btn-custom__outline">Update</button>
          <button class='btn-custom btn-custom__link hide-edit__btn'>Cancel</button>
        </form>
        {{/each}}
      </div>
    </div>
  </div>
</div>